
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2></h2>

<table class="table table-bordered" style="width:75%" align="center">
    <tr style="background-color:azure;width:75%">
        <td style="column-span:all">
            <center><p style="color:yellowgreen;font-size:20pt;">  Welcome To Demo Company Portal.</p></center>

        </td>

    <tr style="background-color:azure;width:75%">
        <td><a href="#">Latest News</a></td>

    </tr>
    <tr style="background-color:azure;width:75%">
        <td><a href="#">Services Available</a></td>

    </tr>
    <tr style="background-color:azure;width:75%">
        <td><a href="#">Products</a></td>

    </tr>


</table>
