@{
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <center>  <h2 style="color:white">Thanks for uploading your file.</h2></center>
    </div>
</body>
</html>
